rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Helper functions
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(email) {
      return isAuthenticated() && request.auth.token.email == email;
    }

    // Default admin/owner
    function isAdmin() {
      return isAuthenticated() && 
             request.auth.token.email == "amorinjoao125@gmail.com" && 
             request.auth.token.email_verified == true;
    }

    // Allow the owner to read/write everything
    match /{document=**} {
      allow read, write: if isAdmin();
    }
  }
}
